// TitilliumWeb Fonts
@font-face {
  font-family: 'TitilliumWeb-Black';
  src: url('~@/assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf')
    format('truetype');
}
@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('~@/assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'TitilliumWeb-ExtraLight';
  src: url('~@/assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf')
    format('truetype');
}
@font-face {
  font-family: 'TitilliumWeb-Light';
  src: url('~@/assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf')
    format('truetype');
}
@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('~@/assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('~@/assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf')
    format('truetype');
}
.font-titillium-web-regular {
  font-family: 'TitilliumWeb-Regular';
}
.font-titillium-web-bold {
  font-family: 'TitilliumWeb-Bold';
}
.font-titillium-web-black {
  font-family: 'TitilliumWeb-Black';
}

// Rajdhani Fonts
@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('~@/assets/fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rajdhani-Bold';
  src: url('~@/assets/fonts/Rajdhani/Rajdhani-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Rajdhani-Light';
  src: url('~@/assets/fonts/Rajdhani/Rajdhani-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Rajdhani-Medium';
  src: url('~@/assets/fonts/Rajdhani/Rajdhani-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: url('~@/assets/fonts/Rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
}
.font-rajdhani-regular {
  font-family: 'Rajdhani-Regular';
}
.font-rajdhani-bold {
  font-family: 'Rajdhani-Bold';
}
.font-rajdhani-light {
  font-family: 'Rajdhani-Light';
}
.font-rajdhani-medium {
  font-family: 'Rajdhani-Medium';
}
.font-rajdhani-semibold {
  font-family: 'Rajdhani-SemiBold';
}
