$white: #fff;
$black: #000;
$primary: #615dfa;
$primary-dark: #4e4ac8;
$primary-transparent: #4e4ac812;
$facebook: #3763d2;
$twitter: #1abcff;
$youtube: #fd434f;
$lightblue: #23d2e2;
$google: #ea4335;

$gray: #adafca;
$title: #3e3f5e;
$border: #dedeea;
$border-primary: #7a77fd;
$green: #1df377;
$gray-light: #f8f8fb;
